body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    min-height: 100vh;
    background: #ddd;
}

.container {
    width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .card .face {
    width: 300px;
    height: 200px;
    position: relative;
    transition: 0.5s;
    border-radius: 10px
}

.container .card .face.main {
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.main {
    transform: translateY(-5px);
    background: #caeeff;
}

.container .card .face.main .content {
    transition: 0.5s;
    opacity: 0.8;
}

.container .card:hover .face.main .content { 
    opacity: 1;
}

.container .card .face.main .content img {
    max-width: 100px;
}

.container .card .face.main .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.desc {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    transform: translateY(-100px);
}

.container .card:hover .face.desc {
    transform: translateY(5px);
}

.container .card .face.desc .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.desc .content .moreAbout {
    display: flex;
    justify-content: center;
}

.container .card .face.desc .content .moreAbout a { 
    margin: 15px 0 0;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    transition: 0.5s;
    border: 1px solid #333;
    border-radius: 5px;
}

.container .card .face.desc .content .moreAbout a:hover { 
    background: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.container2 {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;

    .cards {
        position: relative;
        width: 300px;
        height: 400px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, .1);
            z-index: 20;
            pointer-events: none;
        }

        &:nth-child(1), &:nth-child(1).overlay {
            background: linear-gradient(45deg, #3503ad, #f7308c);
        }

        &:nth-child(2), &:nth-child(2).overlay {
            background: linear-gradient(45deg, #ccff00, #09afff);
        }

        &:nth-child(3), &:nth-child(2).overlay {
            background: linear-gradient(45deg, #e91e63, #ffeb3b);
        }

        .imgBx {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                margin: 10px 0 0;
                padding: 0;
                color: #fff;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }

        .overlay {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            /* background: #fff; */
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            cursor: pointer;
            border-radius: 50%;
            transition: .5s;

            &::before {
                content: 'Read';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-delay: .5s;
            }

            &:hover {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                box-shadow: none;
                opacity: .9;
                border-radius: 0;

                &::before {
                    display: none;
                    transition-delay: 0s;
                }
            }

            &:hover ~ .content {
                opacity: 1;
                visibility: visible;
                transition: .2s;
                transition-delay: .5s;
            }
        }

        .content {
            padding: 20px;
            box-sizing: border-box;
            z-index: 1;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transition: 0s;
            color: #fff;

            h2 {
                margin: 0;
                padding: 0;
            }
        }
    }
}